.main-header{
    background-image: url(../imagens/showmetech-app-supermercado-capa.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 35vh;
    padding-left: 2%;
}

.main-header>h1{
    color: rgb(255, 255, 255);
    font-size: 8vh;
    padding-bottom: 3vh;
    text-shadow: -8px 6px 8px #000000;
}

.main-header>p{
    font-size: 4vh;
    font-weight: bold;
    text-shadow: -8px 6px 8px #ffffff;
}